#root {
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: lighter;
  padding: 2rem;
}

#source {
  display: block;
  margin: 1rem auto;
  border: none;
  background-color: #f4f4f4;
  font-size: 24px;
  padding: 0.5rem;
  font-weight: lighter;
  font-family: monospace;
  max-width: 100%;
}

#run {
  font-size: 24px;
  height: 40px;
  width: 40px;
  font-family: monospace;
  border-radius: 0;
  border: 1px solid #ddd;
}

#result {
  font-family: monospace;
  font-size: 30px;
  padding: 2rem;
}
